* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Jost", sans-serif;
  }
  
  summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  .center {
    padding-left: calc(50% - 610px);
    padding-right: calc(50% - 610px);
  }

  .subscribe {
    padding-top: 87px;
    padding-bottom: 87px;
    display: flex;
    justify-content: center;
    background-color: #D52027;

    &__box {
        padding-top: 19px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_heading {
            width: 400px;
            font-size: 36px;
            font-weight: 600;
            line-height: 46.8px;
            text-align: left;
            color: #FFFFFF;
        }

        &_text {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #FFFFFF;
        }
    }

  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }